/* ---------------------------------------------- */
/* TABLE OF CONTENTS                              */
/* - main layout                                  */
/* - header                                       */
/* - input col                                    */
/* - results column                               */
/* ---------------------------------------------- */



/* ---------------------------------------------- */
/* MAIN LAYOUT                                    */
/* ---------------------------------------------- */

.main-div {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-width: 45rem;
}

/* ---------------------------------------------- */
/* HEADER                                         */
/* ---------------------------------------------- */

.header-div {
  margin-bottom: 2rem;
}

h1 {
  text-align: center;
}

/* ---------------------------------------------- */
/* INPUT COLUMN                                   */
/* ---------------------------------------------- */

@media (max-width: 767px) {
  .input-div {
    margin-bottom: 3rem;
  }

  .form-check, .form-control  {
    max-width: 17rem;
  }
}

.form-label {
  font-weight: bold;
  padding-top: 0.5rem;
}

.form-group {
  margin-bottom: 0.5rem;
}

.form-check {
  border: solid;
  border-width: thin;
  border-radius: 0.25rem;
  border-color: #ced4da;
  padding-left: 2rem !important;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  margin-bottom: 0.5rem !important;
}

/* ---------------------------------------------- */
/* RESULTS COLUMN                                 */
/* ---------------------------------------------- */

.results-col {
  padding-block-end: 0.5rem;
  display: flex;
  align-items: flex-end;
}

.results-div {
  border: solid;
  border-width: thin;
  border-color: grey;
  border-radius: .25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

@media (min-width: 768px) {
  .results-div {
    margin-left: auto;
  margin-right: 0;
  }
}

.choices-div {
  margin-bottom: 1rem;
}

.results-row {
  background-color: #f1f1f1;
}